.container {
  text-align: center;
}

.title {
  color: var(--primaryColor);
  font-size: 3rem;
  margin-top: 100px;
}

.email {
  color: var(--primaryColor);
  font-size: 2rem;
}

.icons {
  margin: 5px;
}

.loading {
  color: var(--primaryColor);
}
