.playControls {
  margin-right: 15px;
}

.play,
.pause,
.backward,
.forward {
  color: var(--font-color);
  font-size: 35px;
  margin-right: 25px;
}

.fas:last-child {
  margin: 0;
}

.play:hover,
.pause:hover,
.backward:hover,
.forward:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.backward,
.forward {
  font-size: 30px;
}
