.header {
  background: rgb(241, 31, 136);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 30px;
  padding-left: 13px;
}

/* Media Query: smaller laptop */
@media screen and (max-width: 2000px) {
  .header {
    height: 75px;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .title {
    font-size: 22px;
  }
}
