.outerContainer {
  display: flex;
  justify-content: center;
}

.gameContainer {
  border: 1px solid black;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  width: 530px;
  height: 750px;
  background: rgba(253, 253, 253, 0.5);
  user-select: none;
  margin-top: 100px;
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .gameContainer {
    width: 470px;
    height: 545px;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  .gameContainer {
    width: 100%;
    border: none;
    height: auto;
  }

  .selectedItem {
    top: 345px;
  }

  .header {
    font-size: 1.2rem;
  }

  .countdown {
    margin-top: 60%;
  }

  .selectionContainer {
    top: 100px;
  }

  .radioContainer {
    width: 93%;
    margin: 15px;
  }

  .bestScore {
    font-size: 1rem;
    left: 245px;
  }

  .selectionFooter {
    top: 183px;
  }
}

/* Media Query: iPhone */
@media screen and (max-width: 376px) {
  .bestScore {
    left: 232px;
  }
}
