@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

.card {
  margin: 5px auto 10px;
  height: 600px;
}

/* Countdown Page ---------------------- */
.countdown {
  margin-top: 45%;
  font-size: 100px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  color:black;
  font-family: Oxanium, sans-serif;
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .countdown {
    margin-top: 30%;
  }
}