.gameContainer {
  border: 1px solid black;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  width: 530px;
  height: 750px;
  position: relative;
  background: rgba(253, 253, 253, 0.5);
  user-select: none;
  margin-top: 100px;
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .game-container {
    margin-top: 35px;
  }

  .selected-item {
    top: 380px;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  .game-container {
    width: 100%;
    margin-top: 0;
    border: none;
  }

  .selected-item {
    top: 345px;
  }

  .header {
    font-size: 1.2rem;
  }

  .countdown {
    margin-top: 60%;
  }

  .selection-container {
    top: 100px;
  }

  .radio-container {
    width: 93%;
    margin: 15px;
  }

  /* label {
    font-size: 1.7rem;
  } */

  .best-score {
    font-size: 1rem;
    left: 245px;
  }

  .selection-footer {
    top: 183px;
  }
}

  /* Media Query: iPhone */
@media screen and (max-width: 376px) {
  .best-score {
    left: 232px;
  }
}