.card {
  margin: 5px auto 10px;
  height: 600px;
}

/* Splash Page -------------------- */
.questionAmount[type='radio'] {
  opacity: 0;
  width: 100%;
  height: 75px;
  position: relative;
  top: -40px;
  cursor: pointer;
  z-index: 2;
}

.selectionContainer {
  position: relative;
  top: 50px;
}

.radioContainer {
  width: 90%;
  height: 75px;
  margin: 25px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  color: rgba(0, 0, 0, 1);
}

.question {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 30px;
}

.selectedLabel {
  background: var(--baseColor);
  color: white;
}

.bestScore {
  position: relative;
  top: -100px;
  left: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  max-width: fit-content;
}

.bestScore span {
  margin: 0;
}

.bestScore span:last-child {
  font-size: 24px;
}

.selectionFooter {
  top: 150px;
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.start {
  width: 90%;
  background: var(--baseColor);
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  border: none;
  outline: none;
  font-family: Oxanium, sans-serif;
}

.start:hover {
  filter: brightness(110%);
}

.start:active {
  transform: scale(0.99);
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .selectionContainer {
    top: 0px;
  }

  .radioContainer {
    height: 60px;
    margin: 20px;
  }

  .question {
    top: 15px;
    font-size: 27px;
  }

  .bestScore {
    top: -110px;
    font-size: 15px;
  }

  .selectionFooter {
    top: 30px;
    height: 80px;
  }

  .start {
    width: 95%;
    height: 45px;
    font-size: 22px;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  .selectionContainer {
    top: 40px;
  }

  .radioContainer {
    width: 93%;
    margin: 30px 10px 10px 10px;
  }

  .bestScore {
    font-size: 1rem;
    left: 245px;
  }

  .selectionFooter {
    top: 123px;
  }

}
