@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.gitHubLink {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
