@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #ac5683;
  --navColor3: #d36e69;
  --navColor4: #51a45c;
  --navColor5: #a1c462;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family:'Nunito', sans-serif;
}
