/* Bookmarks */
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
}

.item {
  background: rgba(33, 4, 66, 0.5);
  color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 10px 10px 50px;
}

.item:hover {
  background:rgba(33, 4, 66, 0.6);
}

.urlLink {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.urlLink:link,
.urlLink:visited {
  color: white;
  text-decoration: none;
}

.urlLink:hover,
.urlLink:active {
  text-decoration: underline;
}

.deleteBookmark {
  float: right;
  cursor: pointer;
  z-index: 2;
}

.name {
  margin-top: 20px;
  margin-right: 20px;
}

.name .iconImage {
  height: 25px;
  width: 25px;
  vertical-align: sub;
  margin-right: 5px;
}