.dragContainer {
  margin: 20px;
}

.dragList {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dragItem {
  margin: 10px;
  padding: 10px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.dragItem:focus {
  outline: none;
  background-color: white;
  color: black;
}