.titleContainer {
  text-align: center;
}

.title {
  color: var(--primaryColor);
  font-size: 3rem;
}

.listContainer {
  width: 60%;
  padding: 10px;
  border: 5px solid var(--primaryColor);
  background-color: var(--primaryColor);
  border-radius: 40px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.contentTitle {
  color: var(--navColor3);
  margin-left: 22px;
  margin: 20px 0 0 22px;
  text-decoration: underline;
}

.lists {
  color: var(--navColor3);
}

.list {
  margin: 15px 0;
}
