.resetIcon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
  color: black;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .resetIcon {
    margin-top: 15px;
  }
}