.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultText {
  font-size: 40px;
  margin: unset;
  margin-top: 20px;
  color: black;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .resultContainer {
    margin: 0 20px;
  }
}