.historyDisplay {
  width: 400px;
  padding: 0;
  border-radius: 12;
  height: 355px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.historyDisplay::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  height: 30px;
  width: auto;
  margin: 0;
  padding: 8px;
  user-select: none;
  font-size: 20px;
  font-family: 'Lucida Console', sans-serif;
  font-weight: 100;
  color: white;
  cursor: pointer;
}

.item:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.calculation {
  display: flex;
  align-items: center;
}

.result {
  font-weight: bold;
  font-size: 30px;
  padding-left: 0.3em;
  color: rgb(121, 16, 163);
}

.historyFooter {
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.historyFooter .deleteIcon {
  position: relative;
  right: -180px;
  font-size: 21px;
  cursor: pointer;
  line-height: 2;
  color: rgb(90, 83, 92);
  visibility: hidden;
}

.historyFooter .deleteIcon:hover {
  filter: brightness(110%);
}
