.outerContainer {
  display: flex;
  align-items: center;
}

.titleContainer {
  display: flex;
}

.container {
  min-width: 580px;
  min-height: 304px;
  color: black;
  margin: 0 auto;
  padding: 25px 50px;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  background: rgba(192, 192, 192, 0.85);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inputContainer {
  position: relative;
  top: 20px;
}

.mainTitle {
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.helpIcon {
  cursor: pointer;
  font-size: 1.3rem;
  margin-left: 5px;
  padding: 10px;
}

.helpIcon:hover {
  background-color: #353501;
  border-radius: 50%;
}

.infoContainer {
  width: 400px;
  background-color: #353501;
  border-radius: 7px;
  color: white;
  padding: 10px 20px 10px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.okButton {
  width: 80%;
  margin: 5px 0 10px 40px;
  padding: 5px 0;
  background: white;
  color: #353501;
  border: 0;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.okButton:hover {
  background-color: rgb(232, 224, 224);
}

/* Form  */
.form {
  width: 480px;
}

.labels {
  font-weight: bold;
  margin-left: 10px;
}

.inputField {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff;
  outline: none;
  font-family: 'Nunito', sans-serif;
}

.buttons {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  background: #353501;
  color: white;
  cursor: pointer;
  outline: none;
}

.submitButton:hover {
  filter: brightness(110%);
}

/* Countdown */
.timer {
  margin-left: -45px;
}

.dateAndTime {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

.dateAndTime span {
  display: block;
  font-size: 80px;
  text-align: center;
}

/* Complete */
.complete {
  position: relative;
  top: 60px;
}

.completeTitle {
  animation: complete 4s infinite;
  padding-left: 100px;
}

@keyframes complete {
  0% {
    color: rgb(233, 13, 13);
  }

  25% {
    color: rgb(233, 211, 13);
  }

  50% {
    color: rgb(64, 233, 13);
    transform: scale(1.5);
  }

  75% {
    color: rgb(0, 38, 253);
  }

  100% {
    color: rgb(181, 16, 231);
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .container {
    min-width: unset;
    width: 95vw;
    min-height: 245px;
    padding: 20px;
    margin: 10px;
  }

  .container {
    min-width: unset;
    width: 95vw;
    min-height: 245px;
    padding: 20px;
    margin: 10px;
  }

  .inputContainer {
    top: unset;
  }

  .countdown {
    position: relative;
    top: 10px;
  }

  .form {
    width: unset;
  }

  .inputField {
    width: 93%;
  }

  .mainTitle {
    font-size: 20px;
  }

  .dateAndTime {
    font-size: 15px;
  }

  .dateAndTime span {
    font-size: 40px;
  }
}
